.button {
  position: relative;
  font-size: 1.2rem;
  padding: 0.2em 0.6em;
  background-color: var(--ui-primary-color);
  border: 0.15em solid #000;
  box-shadow: 0.15em 0.15em 0.2em -0.1em rgba(0, 0, 0, 0.4);
  border-radius: 0.3em;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
}

.button:hover {
  background-color: #fff;
}

.button:active::before {
  transform: translate3d(-0.3em, -0.3em, 0);
}

.button:active {
  box-shadow: none;
  transform: translate3d(0.15em, 0.15em, 0);
}
