@layer core {
  .layer {
    position: absolute;
    display: block;
    top: var(--layer-top, 0);
    left: var(--layer-left, 0);
    width: var(--layer-width, 0);
    height: var(--layer-height, 0);
  }

  .layer-pixelated {
    image-rendering: pixelated;
    text-rendering: optimizeSpeed;
  }
}
