@layer core {
  .node {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: var(--node-display, block);
    opacity: var(--node-opacity, 1);
    transform: translate3d(var(--node-pos-x, 0), var(--node-pos-y, 0), 0)
      scale3d(var(--node-scale-x, 1), var(--node-scale-y, 1), 1);
    z-index: var(--node-z-index, 0);
    outline: var(--node-outline, none);
  }

  .rect-node,
  .image-node {
    width: var(--node-width, 0);
    height: var(--node-height, 0);
  }

  .shape-node {
    border-color: var(--node-border-color, transparent);
    border-width: var(--node-border-width, 0);
    background-color: var(--node-bg-color, transparent);
  }

  .image-node {
    background-image: var(--node-bg-image, none);
  }

  .sprite-node {
    background-position: var(--node-bg-pos, 0);
  }

  .text-node {
    font-family: var(--node-font-family, 'sans-serif');
    color: var(--node-text-color, black);
    font-size: var(--node-font-size, 16px);
  }

  .text-node-shadowed {
    text-shadow: var(--node-text-shadow-offset-x, 0)
      var(--node-text-shadow-offset-y, 0) var(--node-text-shadow-blur, 0)
      var(--node-text-shadow-color, transparent);
  }

  .layer {
    overflow: hidden;
  }

  .inner-layer {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transform: translate3d(var(--inner-layer-x, 0), var(--inner-layer-y, 0), 0);
    width: var(--inner-layer-width, 100%);
    height: var(--inner-layer-height, 100%);
  }
}
