:root {
  --ui-background-color-light: #fff;
  --ui-background-color-dark: #000;
  --ui-text-color-dark: #121212;
  --ui-text-color-light: #fff;

  --ui-background-color: var(--ui-background-color-light);
  --ui-text-color: var(--ui-text-color-dark);
  --ui-tooltip-text-color: var(--ui-text-color-light);
  --ui-tooltip-background-color: var(--ui-background-color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ui-background-color: var(--ui-background-color-dark);
    --ui-text-color: var(--ui-text-color-light);
    --ui-tooltip-text-color: var(--ui-text-color-dark);
    --ui-tooltip-background-color: var(--ui-background-color-light);
  }
}

.light {
  --ui-background-color: var(--ui-background-color-light);
  --ui-text-color: var(--ui-text-color-dark);
  --ui-tooltip-text-color: var(--ui-text-color-light);
  --ui-tooltip-background-color: var(--ui-background-color-dark);
}

.dark {
  --ui-background-color: var(--ui-background-color-dark);
  --ui-text-color: var(--ui-text-color-light);
  --ui-tooltip-text-color: var(--ui-text-color-dark);
  --ui-tooltip-background-color: var(--ui-background-color-light);
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden,
[hidden] {
  display: none !important;
}

b,
strong {
  font-weight: bolder;
}
