@font-face {
  font-family: 'sonic_comics';
  src: url('../../fonts/sonic/sonic_comic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
