.container {
  position: relative;
  max-inline-size: 100%;
  inline-size: 1024px;
  aspect-ratio: 4 / 3;
}

.container .layer {
  display: absolute;
  inline-size: 100%;
  block-size: 100%;
  top: 0;
  left: 0;
}
