#container {
  position: absolute;
  top: 0;
  left: 0;
  max-inline-size: 100%;
  inline-size: 1024px;
  aspect-ratio: 4 / 3;
}

.layer {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  top: 0;
  left: 0;
}
