/* * * * * * * * * *
* Noise image
* * * * * * * * * */

@keyframes glitch-image {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -10px;
  }
}

@keyframes glitch-stripes {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: 0 10%;
  }
  40% {
    background-position: 0 5%;
  }
  90% {
    background-position: 0 10%;
  }
  100% {
    background-position: 0 5%;
  }
}

.glitch::after,
.glitch::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.glitch::after {
  animation: glitch-image 0.2s linear infinite;
  mix-blend-mode: difference;
  opacity: 0.3;
}

.glitch::before {
  background-image: linear-gradient(
    to bottom,
    rgba(0 255 0),
    rgba(0 255 0) 5%,
    transparent 5%,
    transparent 80%,
    rgba(255 0 0) 80%,
    rgba(255 0 0) 85%,
    transparent 85%,
    transparent
  );
  mix-blend-mode: difference;
  background-size: 100% 10%;
  animation: glitch-stripes 2s linear infinite;
}

.glitch.intro::after {
  background-image: url(../images/scenes/intro_earlier.webp);
  background-size: cover;
}
