/* * * * * * * * * *
* Variables
* * * * * * * * * */

:root {
  --ui-background-color-light: #fff;
  --ui-background-color-dark: #000;
  --ui-text-color-dark: #121212;
  --ui-text-color-light: #fff;
  /* Created by Adam Anlauf (https://www.transparenttextures.com/grunge-wall.html) */
  --ui-background-image: url('../images/misc/background.webp');
  --ui-focus-outline-color: #006bcf;
  --ui-primary-color: #ffed06;
  --ui-font-family: 'sonic_comics', system-ui, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

@media (prefers-color-scheme: dark) {
  :root {
    --ui-background-color: var(--ui-background-color-dark);
    --ui-text-color: var(--ui-text-color-light);
    --ui-tooltip-text-color: var(--ui-text-color-dark);
    --ui-tooltip-background-color: var(--ui-background-color-light);
  }
}

:root,
.light {
  --ui-background-color: var(--ui-background-color-light);
  --ui-text-color: var(--ui-text-color-dark);
  --ui-tooltip-text-color: var(--ui-text-color-light);
  --ui-tooltip-background-color: var(--ui-background-color-dark);
}

.dark {
  --ui-background-color: var(--ui-background-color-dark);
  --ui-text-color: var(--ui-text-color-light);
  --ui-tooltip-text-color: var(--ui-text-color-dark);
  --ui-tooltip-background-color: var(--ui-background-color-light);
}

/* * * * * * * * * *
* Fonts
* * * * * * * * * */

/* https://www.dafont.com/sonic-comics.font */
@font-face {
  font-family: 'sonic_comics';
  src: url('../fonts/sonic/sonic_comic.woff2') format('woff2'),
    url('../fonts/sonic/sonic_comic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* * * * * * * * * *
* Normalize
* * * * * * * * * */

button,
hr,
fieldset,
legend {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
}

button {
  font: inherit;
  cursor: pointer;
  user-select: none;
}

[hidden] {
  display: none !important;
}

b,
strong {
  font-weight: bolder;
}

/* * * * * * * * * *
* Common
* * * * * * * * * */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
