.container {
  position: absolute;
  top: 0;
  left: 0;
  max-inline-size: 100%;
  inline-size: 1024px;
  aspect-ratio: 4 / 3;
}

.layer,
.sub-layer {
  position: absolute;
  max-inline-size: 100%;
  max-block-size: 100%;
  top: 0;
  left: 0;
}

.wrapper {
  background-color: var(--ui-background-color);
  color: var(--ui-text-color);
  background-image: url('../images/ui/background.webp');
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* * * * * * * * * *
* Buttons, Togglers
* * * * * * * * * */

.toggler,
.button {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
}

.settings {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
}

.settings-item {
  font-size: 2.5rem;
  font-size: 2.5rem;
  transition: transform 0.3s, opacity 0.3s, filter 0.2s;
  padding: 5px;
  opacity: 0.6;
  filter: drop-shadow(1px 1px 1px #444);
}

.settings-item:hover,
.settings-item:focus-visible {
  opacity: 1;
}

/* * * * * * * * * *
* Tooltip
* * * * * * * * * */

.tooltip {
  position: relative;
}

.tooltip-popup {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, 0);
  font-size: 0.9rem;
  background-color: var(--ui-tooltip-background-color);
  border-radius: 0.3rem;
  color: var(--ui-tooltip-text-color);
  margin-bottom: 5px;
  max-width: 300px;
  padding: 0.4rem 0.6rem;
  text-align: center;
}

.tooltip-popup.right {
  left: inherit;
  right: 0;
  transform: translate(0, 0);
}

.tooltip-popup:after {
  position: absolute;
  display: inline-block;
  border: inset 7px;
  content: '';
  height: 0;
  width: 0;
  border-color: var(--ui-tooltip-background-color) transparent transparent
    transparent;
  border-top-style: solid;
  left: 50%;
  bottom: -14px;
  transform-origin: center top;
  transform: translate(-50%, 0);
}

.tooltip-popup.right:after {
  left: inherit;
  right: 16px;
  transform: translate(0, 0);
}

.tooltip:hover .tooltip-popup {
  opacity: 1;
}

.tooltip-engine .tooltip-popup {
  min-width: 9rem;
}

/* * * * * * * * * *
* Modal
* * * * * * * * * */

.modal-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  z-index: 10;
}

.modal {
  position: relative;
  max-width: 100%;
  overscroll-behavior: contain;
  background-color: var(--ui-background-color);
  border-radius: 0.3rem;
  padding: 1rem;
  width: 400px;
  box-shadow: 2px 2px 7px -2px #222;
  /* Created by Adam Anlauf (https://www.transparenttextures.com/grunge-wall.html) */
  background-image: url('../images/ui/background.webp');
}

.modal-caption {
  font-size: 1.3rem;
  margin: 0 0 1rem;
}

.modal-close {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  position: absolute;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.4rem;
  top: 5px;
  right: 5px;
  color: currentColor;
}

.modal-content {
  line-height: 1.5rem;
}

.modal-content p {
  margin: 0;
}
