.wrapper {
  font-family: var(--ui-font-family);
  background-color: var(--ui-background-color);
  color: var(--ui-text-color);
  background-image: var(--ui-background-image);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  max-inline-size: 100%;
  inline-size: 1024px;
  aspect-ratio: 4 / 3;
}

.layer,
.layer > div {
  position: absolute;
  max-inline-size: 100%;
  max-block-size: 100%;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  image-rendering: pixelated;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.options-item {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 1rem;
  justify-content: space-between;
}

.options-button {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
}

.options-modal {
  width: 35rem;
}

.options-controls h3 {
  font-size: 1.1rem;
  margin: 0 0 0.5rem;
}

.options-controls-keys {
  line-height: 2.5;
}

kbd {
  background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px #1e235a66;
  color: #000;
  display: inline-flex;
  padding: 0.3em 0.5em;
  margin-right: 0.1em;
  line-height: 1;
  font-family: inherit;
  font-size: 1rem;
}

.noscript {
  padding: 20px;
  margin: 0;
  font-weight: 700;
}
