:root {
  --ui-background-color-light: #fff;
  --ui-background-color-dark: #000;
  --ui-text-color-dark: #121212;
  --ui-text-color-light: #fff;
  /* Created by Adam Anlauf (https://www.transparenttextures.com/grunge-wall.html) */
  --ui-background-image: url('../../images/misc/background.webp');
  --ui-focus-outline-color: #006bcf;
  --ui-primary-color: #ffed06;
  --ui-font-family: 'sonic_comics', system-ui, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

@media (prefers-color-scheme: dark) {
  :root {
    --ui-background-color: var(--ui-background-color-dark);
    --ui-text-color: var(--ui-text-color-light);
    --ui-tooltip-text-color: var(--ui-text-color-dark);
    --ui-tooltip-background-color: var(--ui-background-color-light);
  }
}

:root,
.light {
  --ui-background-color: var(--ui-background-color-light);
  --ui-text-color: var(--ui-text-color-dark);
  --ui-tooltip-text-color: var(--ui-text-color-light);
  --ui-tooltip-background-color: var(--ui-background-color-dark);
}

.dark {
  --ui-background-color: var(--ui-background-color-dark);
  --ui-text-color: var(--ui-text-color-light);
  --ui-tooltip-text-color: var(--ui-text-color-dark);
  --ui-tooltip-background-color: var(--ui-background-color-light);
}
